@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Squada+One);

h2, h3, h4, h5, h6 {
	color: #F0F1F3;
}

body {
/*	background-color: #F0F1F3; */
}


/*.big-text {
	font-size: 120px;
}

.small-text {
	font-size: 60px;
}*/

.search_box-container .form-control {
	height: 60px;
	text-align: center;
	font-size: 38px;
	font-family: "Oswald";
	background-color: transparent;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;

	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.search_box-container .form-control:focus::-webkit-input-placeholder {
	color: transparent;
}

.search_box-container .form-control:focus::-moz-placeholder {
	color: transparent;
}

.dropdown-menu {
	margin: 0 auto;
	width: 100%;
	border-radius: 0px;

}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
	background-color: #FF5C84;
	font-weight: 300;
}

.dropdown-menu>li>a {
	font-family: "Oswald", sans-serif;
	font-size: 25px;
}

.nba-stat-container {
	margin-top: 100px;
}

.main-content {
	margin-top: 80px;
}

.search-prompt h1 {
	/*font-weight: bold;*/
	
	font-size: 120px;
	font-family: 'Squada One';
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}


.player-profile {
	background-color: #29A6FF;
	/*min-height: 400px;*/	
}

.player-profile .player_name h2 {
	font-size: 60px;
	font-weight: 300;
	font-family: "Squada One";
}

.player_name,
.player_metric_field,
.player_metric_value {
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.player-images {
	background-color: #FF5C84;
}

.player-images img {
	width: 20%;
}


footer {
	min-height: 120px;
}